body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.header-title{
    background-color: #003333;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 10%;
}
.header-title .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

h1, h2, h3 {
    display: inline-block;
    width: auto !important;
    margin: 0;
    padding: 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.container h1{
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td span {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

td span:hover {
    color: #ff0000;
    cursor: pointer;
}

td:last-of-type span{
    color: red;
}

#form-create{
    margin-top: 50px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
}

.form-group {
    margin: 10px 0;
}

.form-group input{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
}   

.form-group input:focus{
    box-shadow: none;
    border: 1px solid #333;
}

.btn.btn-primary {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
}

#mensagem{
    font-size: 18px;
    line-height: 22px;
    color: red;
}

.Modalzao {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: auto;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.Modalzao .close{
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    cursor: pointer;
    z-index: 2;
}